# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# PHP / Composer
/vendor/
composer.lock

# Env & secrets
.env
bd.php

# Logs / cache
*.log
storage/
cache/

# Node (si jamais)
node_modules/

# Mail libs locales (si tu ne veux PAS les versionner)
#PHPMailer/
